header {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 auto; /* Centers the header horizontally */
    background-color: #b30000; 
    max-width: 800px; /* Sets a maximum width */
    border-radius: 8px 8px 0 0;
}

.dashboard-icon {
    display: inline-block;
    margin-right: 15px; 
}

.dashboard-img {
    width: 24px;
    height: auto; 
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text {
    font-size: 1.1em;
    margin-bottom: 20px;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    color: #007bff; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline; 
}

h2, h3 {
    color: #333; 
}

/* Responsive design */
@media (max-width: 600px) {
    body {
        margin: 10px;
    }
    .container {
        padding: 10px;
    }
}

input[type="text"],
input[type="password"],
input[type="textarea"]
{
    width: 30%; 
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.button {
    background-color: #cc0000;
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    margin: 10px;
    text-align: center; 
    display: inline-block; 
}

.button:hover {
    background-color: #b30000; 
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #f2f2f2;
    text-align: left;
    padding: 10px;
}

.table-cell {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.button-link {
    text-decoration: none; 
    display: block;
}

.link {
    color: #007BFF; 
    text-decoration: none; 
    display: block;
}

.link:hover {
    text-decoration: underline; 
}

/* seperate formatting for the view appointments table due to the amount of data on screen */

.appt-table {
    width: 100%;
    border-collapse: collapse; 
    margin-bottom: 20px; 
}

.appt-table thead {
    background-color: #ff6666; 
    color: white; 
}

.appt-table th, .appt-table td {
    padding: 12px; 
    text-align: left; 
    border: 1px solid #ddd; 
}

/* Alternating row colors for better readability */
.appt-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.appt-cell a {
    text-decoration: none; 
    color: #ff9999; 
}
